export(NBDev, PoisDev, QL.fit, QL.results)
export(fbrNBglm.fit, fbrNBglm.control, negbin, coef.glm)
#export(glmsolve, nlsolve)

import(edgeR)
import(uniqueAtomMat)


importFrom(mgcv, negbin, fix.family.link, fix.family.var)
importFrom(pracma, broyden)

## these are for comparison only
importFrom(pracma, brentDekker, newtonRaphson, ridders, secant)
importFrom(stats, uniroot)


#import(MASS)
#importFrom(nleqslv, nleqslv)

S3method(coef, glm)

useDynLib(QuasiSeq, .registration =TRUE, .fixes="C_")
