export(NBDev, PoisDev, QL.fit, QL.results)
#export(glmsolve, nlsolve)

import(edgeR)
import(uniqueAtomMat)

importFrom(mgcv, negbin)
importFrom(pracma, broyden)

## these are for comparison only
importFrom(pracma, brentDekker, newtonRaphson, ridders, secant)
importFrom(stats, uniroot)


#import(MASS)
#importFrom(nleqslv, nleqslv)

S3method(coef, glm)

useDynLib(QuasiSeq, .registration =TRUE, .fixes="C_")
